// All kinds of reusable UI elements should be saved here

// Buttons
.btn {
	display: block;

	// Background color classes
	&.bg-dark-blue {background-color: @color-white;} 

	// Font color classes
	&.color-white {color: @color-white;}
}