// Base classes and vars:
html, body {
    overflow-x:hidden 
}

// Colors:
@color-white: #fff;
@color-light-grey: #ccc;
@color-dark-grey: #666;

@color-fb: #3a5897;
@color-insta: #ec1247;
@color-tw: #54aced;

// BG Color Classes
.bg-white {background-color: #fff;}

// Color classes
.color-white {color: @color-white;}

// Text Align
.ta-left {text-align: left;}
.ta-center {text-align: center;}
.ta-right {text-align: right;}

// Position
.relative {position: relative;}
.absolute {position: absolute;}

// Display
.block {display: block;}
.inline {display: inline;}
.i-b {display: inline-block;}

// Floats
.left {float: left;}
.right {float: right;}
.clearfix {clear: both;}

.m0auto {margin: 0 auto;}
.w-100 {width: 100%;}
.h-100 {height: 100%;}

// Show/hide classes
// Hide
.hide-1200 { @media(max-width: 1200px) { display: none;}}
.hide-991  { @media(max-width: 991px)  { display: none;}}
.hide-768  { @media(max-width: 768px)  { display: none;}}
.hide-700  { @media(max-width: 700px)  { display: none;}}
.hide-600  { @media(max-width: 600px)  { display: none;}}
.hide-480  { @media(max-width: 480px)  { display: none;}}

// Hide - important
.hide-1200-imp { @media(max-width: 1200px) { display: none !important;}}
.hide-991-imp  { @media(max-width: 991px)  { display: none !important;}}
.hide-768-imp  { @media(max-width: 768px)  { display: none !important;}}
.hide-700-imp  { @media(max-width: 700px)  { display: none !important;}}
.hide-600-imp  { @media(max-width: 600px)  { display: none !important;}}

// Display - block
.show-1200 { display: none; @media(max-width: 1200px) {display: block;}}
.show-991  { display: none; @media(max-width: 991px)  {display: block;}}
.show-768  { display: none; @media(max-width: 768px)  {display: block;}}
.show-600  { display: none; @media(max-width: 600px)  {display: block;}}
.show-480  { display: none; @media(max-width: 480px)  {display: block;}}

// Display - inline
.show-1200-i { display: none; @media(max-width: 1200px) {display: inline;}}
.show-991-i  { display: none; @media(max-width: 991px)  {display: inline;}}
.show-768-i  { display: none; @media(max-width: 768px)  {display: inline;}}
.show-600-i  { display: none; @media(max-width: 600px)  {display: inline;}}
.show-480-i  { display: none; @media(max-width: 480px)  {display: inline;}}

// Display - inline-block
.show-1200-ib { display: none; @media(max-width: 1200px) {display: inline-block;}}
.show-991-ib  { display: none; @media(max-width: 991px)  {display: inline-block;}}
.show-768-ib  { display: none; @media(max-width: 768px)  {display: inline-block;}}
.show-600-ib  { display: none; @media(max-width: 600px)  {display: inline-block;}}
.show-480-ib  { display: none; @media(max-width: 480px)  {display: inline-block;}}

.clickthrough {
	pointer-events: none; 
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

// Opacity
.op05 {opacity: .5;}
.op1 {opacity: 1;}
.op0 {opacity: 0;}